*
{	
	margin: 0;
	padding: 0;
}


body
{
	background-color : black;
}


#container
{
	width : 960px;
	margin: 0 auto; 
	background-color: white;
}

header
{
	height: 100px;
	width: 910px;
	padding: 25px;
	background-color: orange;
	margin-bottom: 10px;
}

nav
{
	width: 940px;
	background-color: yellow;
	padding: 10px;
	margin-bottom: 10px;
}

nav li
{
	display: inline;
	list-style-type: none;
	padding-right: 40px;
}
aside
{
	background-color: green;
}

section
{
	background-color: purple;
}

footer
{
	background-color: blue;
}
